@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.main-container{
    background-color: #021a3d;
    background-size: cover;
    height: 100vh;
    padding: 40px;
}

.scores-and-title-container{
    border: 3px solid rgb(255,255,255, 0.4);
    border-radius: 5px;
    padding: 10px;
}

.logo{
    width: 100px;
    height: 50px;
    align-self: center;
}

.score-container{
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.score-title{
    font-family: "Roboto Condensed";
    font-weight: 700;
    margin: 0px;
    font-size: 12px;
    color: #021a3d;
}

.score{
    font-family: "Roboto Condensed";
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0px;
    font-size: 35px;
    color: #36383b;
}

.main-content{
    flex-grow: 1;
}

.background-triangle{
    position: absolute;
    width: 150px;
    height: 150px;
    align-self: center;
}

.images-container{
    background-image: url(../images/bg-triangle.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center;
    border: 1px solid red;
    flex-wrap: wrap;
    width: 260px;
    padding: 10px;
    align-self: center;
    justify-content: center;
}

.paper-image-container{
    border: 1px solid blue;
    height: 120px;
    width: 120px;
    border-radius: 1500px;
    margin: 10px;
    align-items: center;
    border: 15px solid #0667d6;
    background-color: #ffffff;
}

.paper-image{
    width: 40px;
    height: 50px;
}